<div class="flex items-center justify-between px-6 py-4 bg-blue-900 text-white"
[ngClass]="{'justify-center': !isLogged}"
>
    <div class="flex items-center">
        <img
            [src]="imageUrl"
            alt="avatarImage"
            class="rounded-full w-[50px] aspect-square object-cover me-2"
        />
        <h1 class="font-bold text-xl">Immobiliare 365</h1>
    </div>

    <button
    *ngIf="isLogged"
    (click)="logOut()"
        class="py-2 px-4 cursor-pointer border rounded-sm border-transparent hover:bg-zinc-800 font-bold hover:border-gray-600"
    >
        <i class="me-2 fa-solid fa-arrow-right-from-bracket"></i>
        Logout
    </button>
</div>
