<!-- Insertions grid -->
<div
    class="flex flex-col flex-wrap min-h-screen max-w-screen dark:bg-zinc-950 bg-gray-200 px-10 sm:px-20  "
    *ngIf="!loadingInsertions"
>
    <div class="flex justify-end mt-4">
        <button
            type="button"
            (click)="toggleTheme()"
            class="dark:hover:bg-white dark:hover:text-black shadow-xl border border-transparent hover:border-gray-300 bg-white dark:text-gray-300 w-[80px] py-[5px] rounded-sm cursor-pointer dark:bg-zinc-800"
        >
            <ng-container *ngIf="isDark">
                <i class="fa-solid fa-moon"></i>
            </ng-container>
            <ng-container *ngIf="!isDark">
                <i class="fa-solid fa-sun"></i>
            </ng-container>
        </button>
    </div>

    <ng-container *ngIf="!showingInsertion">
        <div
            *ngFor="let insertion of insertions"
            class="m-4 max-md:w-full"
            [@fadeSlide]
        >
            <app-insertion
                [insertion]="insertion"
                (singleInsertion)="showInsertion($event)"
            ></app-insertion>
        </div>
    </ng-container>

    <!-- Single insertion -->
    <div *ngIf="showingInsertion" [@fadeSlide] class="">
        <app-single-insertion
            [isClientView]="true"
            (goBack)="toHomepage()"
            [insertion]="singleInsertion"
        ></app-single-insertion>
    </div>
</div>
