<!--
  Sidebar for larger screens (displayed on md and above)
-->
<div class="hidden md:flex h-full p-2 bg-white md:text-black">
    <div class="flex flex-col w-full">
        <app-avatar></app-avatar>
        <div class="flex flex-col justify-between h-full">
            <ul class="flex flex-col items-start my-14">
                <li
                    *ngFor="let page of pages"
                    class="mb-2 p-3 w-full rounded-md cursor-pointer"
                    [ngClass]="{
                        'bg-blue-500 text-white': selectedPage === page.key,
                        'hover:bg-slate-300': selectedPage !== page.key
                    }"
                    (click)="selectPage(page.key)"
                >
                    <i class="me-2 w-[20px] fa-solid" [ngClass]="page.icon"></i>
                    {{ page.label }}
                </li>
            </ul>
            <div class="p-4 border-t-[1.5px] border-gray-400">
                <p class="cursor-pointer">
                    <i class="me-2 fa-solid fa-arrow-right-from-bracket"></i>
                    Logout
                </p>
            </div>
        </div>
    </div>
</div>


<div class="md:hidden">
    <div class="flex p-3 items-center justify-between">
        <app-avatar></app-avatar>
        <button
            class="text-xl bg-white aspect-square flex items-center cursor-pointer px-2 rounded-full"
            (click)="toggleMenu()"
        >
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

    <!-- Dropdown menu: toggled via burger icon -->
    <div *ngIf="menuOpen" class="bg-white shadow-md p-4">
        <ul class="flex flex-col gap-2">
            <li
                *ngFor="let page of pages"
                class="p-3 rounded-md cursor-pointer"
                [ngClass]="{
                    'bg-blue-500 text-white': selectedPage === page.key,
                    'hover:bg-slate-300': selectedPage !== page.key
                }"
                (click)="selectPage(page.key)"
            >
                <i class="me-2 fa-solid" [ngClass]="page.icon"></i>
                {{ page.label }}
            </li>
            <li class="p-3 rounded-md cursor-pointer hover:bg-slate-300">
                <i class="me-2 fa-solid fa-arrow-right-from-bracket"></i>
                Logout
            </li>
        </ul>
    </div>

    <div class="fixed bottom-0 bg-white w-full">
        <ul class="flex justify-around">
            <li
                *ngFor="let page of pages"
                class="p-3 cursor-pointer border-t-4 font-medium flex flex-col items-center w-1/4"
                [ngClass]="{
                    'border-blue-500 text-blue-500 bg-linear-to-b from-sky-100 ': selectedPage === page.key,
                    'hover:bg-slate-200 hover:border-slate-200 border-white text-slate-500': selectedPage !== page.key
                }"
                (click)="selectPage(page.key)"
            >
                <i class="me-2 fa-solid" [ngClass]="page.icon"></i>
                {{ page.label }}
            </li>
        </ul>
    </div>
</div>
