<label class="flex items-center space-x-4 cursor-pointer" (click)="toggle()">
    <span class="font-extrabold text-zinc-700 dark:text-gray-200"
        ><i class="fa-solid fa-user me-2"></i>{{ label }}</span
    >
    <div
        [ngClass]="{
            'bg-indigo-600 active:bg-indigo-500': checked,
            'bg-gray-500 active:bg-gray-600': !checked
        }"
        class="transition rounded-full p-[3px] w-10 shadow-inner shadow-black/50 focus-visible:outline-offset-2 focus-visible:outline-sky-400 focus-visible:outline-2"
    >
        <div
            [ngClass]="{
                'translate-x-[18px] bg-white': checked,
                'bg-gray-200': !checked
            }"
            class="w-4 h-4 block rounded-full shadow-sm transition"
        ></div>
    </div>
</label>
