<div class="flex">
    <div
        cdkDropList
        cdkDropListOrientation="horizontal"
        class="flex flex-wrap gap-2 me-2 imageList"
        (cdkDropListDropped)="drop($event)"
    >
        <div *ngFor="let preview of filePreviews; let i = index" cdkDrag class="relative imagePreview">
            <img
            [src]="preview"
            alt="Preview"
            class="w-20 h-20 object-cover rounded-lg border "
            />

            <button
            (click)="removeImage(i)"
            type="button"
            class="absolute top-1 right-1 bg-gray-300 text-slate-700 rounded-full w-5 aspect-square text-xs font-bold flex items-center justify-center"
            >
            <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>

    <label
        class="w-20 h-20 p-1 rounded-md border-dashed border-2 border-gray-400 flex flex-col cursor-pointer items-center justify-center hover:bg-gray-100"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
        [ngClass]="{ 'bg-gray-200': isDragOver }"
    >
        <input
            type="file"
            (change)="onFileChanges($event)"
            multiple
            class="hidden"
        />

        <i class="fa-solid fa-image text-xl text-gray-500"></i>
        <span class="text-[10px] text-center text-gray-500"
            >Upload or drag an photo here</span
        >
    </label>
</div>
